In [39]:
import pandas as pd

In [40]:
Rappel_Budget_2024 = pd.read_csv('Rappel_Budget_2024.csv')
Activité_novembre = pd.read_csv('Activité_novembre.csv')
Reseau1 = pd.read_csv('Reseau1.csv')
Reseau2 = pd.read_csv('Reseau2.csv')
Reseau3 = pd.read_csv('Reseau3.csv')

In [52]:
Rappel_Budget_2024['Budget_2024vsCA_2023_num']=Rappel_Budget_2024['Budget_2024']-Rappel_Budget_2024['CA_2023']
Rappel_Budget_2024['Budget_2024vsCA_2023_perc']=(Rappel_Budget_2024['Budget_2024vsCA_2023_num']*100 / Rappel_Budget_2024['CA_2023']).round(2)

In [54]:
Activité_novembre['Var 24/23 num']=Activité_novembre['CA à fin novembre2024']-Activité_novembre['CA à fin novembre 2023']
Activité_novembre['Var 24/23 perc']=(Activité_novembre['Var 24/23 num']*100 / Activité_novembre['CA à fin novembre 2023']).round(2)

In [56]:
Reseau1['Var 24/23 num']=Reseau1['CA à fin novembre2024']-Reseau1['CA à fin novembre 2023']
Reseau1['Var 24/23 perc']=(Reseau1['Var 24/23 num']*100 / Reseau1['CA à fin novembre 2023']).round(2)

In [58]:
Reseau2['Var 24/23 num']=Reseau2['CA à fin novembre2024']-Reseau2['CA à fin novembre 2023']
Reseau2['Var 24/23 perc']=(Reseau2['Var 24/23 num']*100 / Reseau2['CA à fin novembre 2023']).round(2)

In [60]:
Reseau3['Var 24/23 num']=Reseau3['CA à fin novembre2024']-Reseau3['CA à fin novembre 2023']
Reseau3['Var 24/23 perc']=(Reseau3['Var 24/23 num']*100 / Reseau3['CA à fin novembre 2023'].abs()).round(2)

In [62]:
Reseau3=Reseau3.fillna(0)

In [66]:
Reseau2

,Par_Branche,CA à fin novembre 2023,CA à fin novembre2024,Var 24/23 num,Var 24/23 perc
0,Auto Mono,179,169,-10,-5.59
1,Auto Flotte,147,154,7,4.76
2,AT,269,274,5,1.86
3,Vie,811,893,82,10.11
4,Incendie et Multirisque,191,220,29,15.18
5,DIM,954,946,-8,-0.84
6,Autres,308,278,-30,-9.74
7,Total,2858,2934,76,2.66

In [72]:
Rappel_Budget_2024.to_excel('Rappel_Budget_2024_1.xlsx', index=False)
Activité_novembre.to_excel('Activité_novembre_1.xlsx', index=False)
Reseau1.to_excel('Reseau1_1.xlsx', index=False)
Reseau2.to_excel('Reseau2_1.xlsx', index=False)
Reseau3.to_excel('Reseau3_1.xlsx', index=False)

In [74]:
print( Reseau1,Reseau2,Reseau3)

               Par_Branche  CA à fin novembre 2023  CA à fin novembre2024  \
0                Auto Mono                    1153                   1198
1              Auto Flotte                      76                     85
2                       AT                      94                    101
3                      Vie                      91                    146
4  Incendie et Multirisque                      61                     66
5                      DIM                      46                     48
6                   Autres                     133                    155
7                    Total                    1653                   1797

   Var 24/23 num  Var 24/23 perc
0             45            3.90
1              9           11.84
2              7            7.45
3             55           60.44
4              5            8.20
5              2            4.35
6             22           16.54
7            144            8.71                  Par_Branche  CA à fin novembre 2023  CA à fin novembre2024  \
0                Auto Mono                     179                    169
1              Auto Flotte                     147                    154
2                       AT                     269                    274
3                      Vie                     811                    893
4  Incendie et Multirisque                     191                    220
5                      DIM                     954                    946
6                   Autres                     308                    278
7                    Total                    2858                   2934

   Var 24/23 num  Var 24/23 perc
0            -10           -5.59
1              7            4.76
2              5            1.86
3             82           10.11
4             29           15.18
5             -8           -0.84
6            -30           -9.74
7             76            2.66                  Par_Branche  CA à fin novembre 2023  CA à fin novembre2024  \
0                Auto Mono                       0                      0
1              Auto Flotte                       0                      0
2                       AT                       0                      0
3                      Vie                      19                     33
4  Incendie et Multirisque                      10                     37
5                      DIM                      -4                     -6
6                   Autres                      50                     33
7                    Total                      75                     98

   Var 24/23 num  Var 24/23 perc
0              0            0.00
1              0            0.00
2              0            0.00
3             14           73.68
4             27          270.00
5             -2          -50.00
6            -17          -34.00
7             23           30.67