In [1]:
import pdfplumber
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

with pdfplumber.open("C:/Users/HP/Downloads/Préz_Comités.pdf") as file:
    tables = []
    for i in file.pages:
        tables.extend(i.extract_tables())


dataframes = []
for table in tables:
    df = pd.DataFrame(table[1:], columns=table[0])
    dataframes.append(df)

In [2]:
dataframes=dataframes[5:]

In [3]:
for i in range(len(dataframes)):
    dataframes[i].fillna('', inplace=True)

In [4]:
dataframes[0].columns = ['Mono/Flotte', ' Reel 2023', 'Budget2024', 'Var24/23MMAD', 'Var24/23perc']
dataframes[0] = dataframes[0].drop([0]).reset_index(drop=True)

In [6]:
dataframes[1].columns = ['Mono/Flotte', 'CA à fin novembre 2023', 'CA à fin novembre 2024', 'Var24/23MMAD', 'Var24/23perc']
dataframes[1] = dataframes[1].drop([0]).reset_index(drop=True)

In [18]:
dataframes[2].columns = ['Par Réseau', 'Reel 2023', 'Budget 2024', 'Var24/23MMAD', 'Var24/23perc']
dataframes[2] = dataframes[2].drop([0]).reset_index(drop=True)

In [24]:
dataframes[3].columns = ['Mono/Flotte', 'CA à fin novembre 2023', 'CA à fin novembre 2024', 'Var24/23MMAD', 'Var24/23perc']
dataframes[3] = dataframes[3].drop([0]).reset_index(drop=True)

In [30]:
dataframes[4].columns = ['Mono/Flotte', 'CA à fin novembre 2023', 'CA à fin novembre 2024', 'Var24/23MMAD', 'Var24/23perc']
dataframes[4] = dataframes[4].drop([0]).reset_index(drop=True)

In [5]:
dataframes[0]

  Mono/Flotte  Reel 2023 Budget2024 Var24/23MMAD Var24/23perc
0        Mono      1 453      1 531           78         5,4%
1      Flotte        225        256           31        13,6%
2       Total      1 678      1 787          109         6,5%

In [7]:
dataframes[1]

,Mono/Flotte,CA à fin novembre 2023,CA à fin novembre 2024,Var24/23MMAD,Var24/23perc
0,Mono,1 332,1 367,35,"2,6%"
1,Flotte,223,239,16,"7,3%"
2,Total,1 554,1 606,51,"3,3%"

In [84]:
dataframes[2]

  Par Réseau  Reel 2023  Budget 2024  Var24/23MMAD  Var24/23perc
0    Réseau1       1260         1329            69           5.5
1    Réseau2        193          202             9           4.7
2      Total       1453         1531            78           5.4

In [68]:
for i in range(len(dataframes)):
    df = dataframes[i].copy()
    df = df.apply(lambda col: col.astype(str).str.replace('%', '').str.replace(',', '.').str.replace(' ', '', regex=True) if col.dtype == 'object' else col)
    df = df.apply(pd.to_numeric, errors='ignore')
    
    dataframes[i] = df

C:\Users\HP\AppData\Local\Temp\ipykernel_13960\2382416427.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')
C:\Users\HP\AppData\Local\Temp\ipykernel_13960\2382416427.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')
C:\Users\HP\AppData\Local\Temp\ipykernel_13960\2382416427.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')
C:\Users\HP\AppData\Local\Temp\ipykernel_13960\2382416427.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')
C:\Users\HP\AppData\Local\Temp\ipykernel_13960\2382416427.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [78]:
dataframes[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Mono/Flotte             3 non-null      object
 1   CA à fin novembre 2023  3 non-null      int64
 2   CA à fin novembre 2024  3 non-null      int64
 3   Var24/23MMAD            3 non-null      int64
 4   Var24/23perc            3 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 252.0+ bytes

In [86]:
budget2024_ToutCanal=dataframes[0]
budget2024_FocusMonoparCanal=dataframes[2]
Activite2024_TousReseauxConfondus=dataframes[1]
Activite2024_Reseau1=dataframes[3]
Activite2024_Reseau2=dataframes[4]

In [ ]:
budget2024_ToutCanal.to_excel('Rappel_Budget_2024_1.xlsx', index=False)
budget2024_FocusMonoparCanal
Activite2024_TousReseauxConfondus
Activite2024_Reseau1
Activite2024_Reseau2